{% extends 'core/main_wrapper.html' %}

{% block main %}
this is detail page
<div class = "container">
     <div class="row">
            <div class="col-sm">
                {% if product.image %}
                    <a href="{% url 'details' id=product.id %}"><img class="card-img-top" src="{{product.image.url}}" alt="Card image cap" width="70%" height="90%"></a>
                {% endif %}
            </div>
            <div class="col-sm mt-5">
                <h1 class="mt-5">{{ product.title }}</h1>
                <h6 class="mt-5">{{ product.description }}</h6>
                <h2 class="mt-5">{{ product.cost }}</h2>
            </div>
        </div>
    {% for i in images %}
        <div class="col-sm">
                <div style = 'margin-bottom:50px;'>
                    <img class="card-img-top" src="{{i.image.url}}" alt="Card image cap" width="70%" height="90%" >
                </div>
        </div>
    {% endfor %}
</div>
{% endblock  %}